:root {
  --background: rgba(0, 0, 0, 1);
  --text: #fff;
  --highlight: $primary-blue;
  --base: #f7392b;
  --bg-blend: multiply;
  --blur: 0px;
  --fg-blend: lighten;
  --foreground: #16006f;
  --opacity: 1;
  --spacing: 0px;
}

main {
  min-height: 100vh;
}

figure {
  margin: .0005px;
}


.img-wrapper {
  background: #ff5722;
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
  flex: 1 1 100%;
  overflow: hidden;
  padding: var(--spacing);
  position: relative;
  max-height: 50em;
  height: 100%;
}

.img-wrapper img {
  -webkit-filter: grayscale(100%) contrast(1) blur(var(--blur));
  filter: grayscale(100%) contrast(1) blur(var(--blur));
  -webkit-box-flex: 1;
  flex: 1 0 100%;
  height: 100%;
  max-width: 100%;
  mix-blend-mode: var(--bg-blend);
  -o-object-fit: cover;
  object-fit: cover;
  opacity: var(--opacity);
  position: relative;
  width: 100%;
}

.img-wrapper::before {
  background-color: var(--foreground);
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  mix-blend-mode: var(--fg-blend);
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

html, body {
  min-height: 100vh;
}

/* MIXINS 
body {
  padding-top: 30em;
}

@media (min-width: 769px) {
  body {
    padding-top: 15em;
  }
}
*/


* {
  box-sizing: border-box;
}

.bg-album {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/902426/stillwaves-album-cover-3.jpg);
  background-size: cover;
  background-position: top center;
  margin-bottom: 5em;
}


@media screen and (min-width: 767px) {
  .bg-album {
    margin-bottom: 0;
  }
}

/*

body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
   //background: $black;
}

*/
body {
 background: var(--background);
  -webkit-animation: pulse 80s infinite alternate;
  -moz-animation: pulse_m 80s infinite alternate;
  height: 100vh;
  -webkit-transition: 0.5s background ease;
  transition: 0.5s background ease;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  margin: 0;
}

.theme-switch {
  display: none;
}


@media screen and (min-width: 770px) {
  .theme-switch {
    display: block;
    --background: #fff;
    --text: #000;
    color: var(--text);
    width: 70px;
    height: 30px;
    background: #2f494c;
    border-radius: 50px;
    position: relative;
    margin: 0 auto;
  }
}


.theme-switch .switch {
  background: white;
  width: 24px;
  height: 24px;
  background: var(--background);
  border-radius: 100%;
  position: absolute;
  top: 3px;
  left: 4px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.light-theme {
  --background: #fff;
  z-index: -10;
  --text: #000;
  background: var(--background);
  -webkit-animation: none;
  -moz-animation: none;
}

.light-theme .theme-switch {
  background: #2e98c7;
}

.light-theme .theme-switch .switch {
  -webkit-transform: translateX(37px);
  transform: translateX(37px);
}

.light-theme a,
.light-theme ul,
.light-theme li {
  color: var(--text);
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li,
ol li {
  color: #f9f9f9;
}

h1,
h2,
h3 {
  text-rendering: optimizeLegibility;
}

h2,
h3,
a {
  color: #2e98c7;
}

a {
  text-decoration: none;
}

/* main page styling */
.section {
  padding: 4em 0;
}

@media (min-width: 768px) {
  .section {
    padding: 14em 0;
  }
}
.text-center {
  text-align: center;
  margin: 0 auto;
}

textarea {
  overflow: auto;
  resize: vertical;
  width: 36em;
  height: 13em;
}

h1 {
  position: relative;
  z-index: 1;
  margin-right: 0px;
  margin-left: 0px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 99px;
  line-height: 87px;
  font-weight: 800;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 69px;
    line-height: 63px;
    text-align: left;
  }
}
.white {
  color: #fff;
}

.aqua {
  color: #00bcd4;
}

/* INtro Text

body {
  align-items:center;
  background-color:#ccc;
  background-image:radial-gradient(#fff, #ccc);
  display:flex;
  font-family:sans-serif;
  height:100vh;
  justify-content:center;
  margin:0;
}

 */
.album-title {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0em;
  line-height: 1.2em;
  text-transform: none;
  /* font-family: Dosis; */
  /* font-weight: 400; */
  /* font-style: normal; */
  font-size: 44px;
  letter-spacing: 3px;
  line-height: 1.1em;
  text-transform: uppercase;
}

.album-listing {
  font-size: 1.5em;
  line-height: 34px;
}

.image > div {
  height: 30rem;
}

@media screen and (min-width: 768px) {
  .image > div {
    height: 45rem;
  }
}
.container-boxes {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  /* width: 64vmin; */
  align-content: center;
  /* max-width: 1063px; */
  -webkit-box-pack: center;
  justify-content: flex-end;
}

.container-boxes .box {
  z-index: 999;
  -webkit-box-align: center;
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  font-size: 4vmin;
  height: 30vmin;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 1vmin;
  padding: 3vmin;
  width: 30vmin;
  text-transform: uppercase;
}

.container-boxes .box  a {
  color: #082d3e;
}


.container-boxes .box:nth-child(1) {
  background-color: #f69;
}

.container-boxes .box:nth-child(2) {
  background-color: #ee0;
}

.container-boxes .box:nth-child(3) {
  background-color: #6c3;
}

.container-boxes .box:nth-child(4) {
  background-color: #6cf;
}

.container-boxes .box:nth-child(5) {
  background-color: #be0df9;
}

/* fill styles */
.fill-layer {
  -webkit-animation: fill 1s ease-in-out;
  animation: fill 1s ease-in-out;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

@-webkit-keyframes fill {
  0% {
    border-radius: 50%;
    -webkit-transform: translateY(150%) translateX(150%) scale(2);
    transform: translateY(150%) translateX(150%) scale(2);
  }
  100% {
    border-radius: 50%;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}
@keyframes fill {
  0% {
    border-radius: 50%;
    -webkit-transform: translateY(150%) translateX(150%) scale(2);
    transform: translateY(150%) translateX(150%) scale(2);
  }
  100% {
    border-radius: 50%;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}
.band-bio p {
  font-size: 1.2em;
  line-height: 1.5;
  margin: 1em 0;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .band-bio p {
    font-size: 1.6em;
    line-height: 1.7;
    margin: 2em 0;
    text-align: center;
  }
}
/* Video styling */
#video {
  margin: 0 auto;
  width: 853px;
}

iframe {
  margin: 0 auto 50px;
}

#video .big {
  display: block;
}

#video .small {
  display: none;
}

@media only screen and (max-width: 600px) {
  #video {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  #video .big {
    display: none;
  }

  #video .small {
    display: block;
  }

  #video {
    width: 560px;
  }
}

.form-container, .video-container {
  margin-top: 4em;
}

footer {
  padding: 3em 0;
  background-color: #202223;
  color: #fff;
  font-weight: #d9d9d9;
  margin-top: 4em;
}



#return-to-top {
position: fixed;
bottom: 20px;
right: 20px;
background: rgba(0,0,0,.7);
width: 50px;
height: 50px;
display: block;
text-decoration: none;
border-radius: 35px;
transition: all .3 ease;
}




/* New header styling */

/*--
	Header Start 
--*/
header {
  background: #fff;
  padding: 20px 0;
}
header .navbar {
  margin-bottom: 0px;
  border: 0px;
}
header .navbar-brand {
  padding-top: 5px;
}
header .navbar-default {
  background: none;
  border: 0px;
}

.navbar-dark .navbar-toggler {
  color: #495057;
  border-color: rgb(1, 31, 49);
}

header .navbar-default .navbar-nav {
  padding-top: 10px;
}
header .navbar-default .navbar-nav li a {
  color: #333333;
  padding: 10px 26px;
  font-size: 15px;
}
font header .navbar-default .navbar-nav li a:hover {
  color: #000;
}

.navbar {
  /*position: relative; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2.25rem 0em 2em;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.navbar-brand {
  display: inline-block;
  padding-top: 0;
  padding-bottom: .3125rem;
  /* margin-right: 1rem; */
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}


/* new header styling */
.nav-link {
  display: block;
  padding: 0rem 0.3rem;
}

header a {
  background: transparent;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}

nav {
  /*max-width: 1180px; */
  height: 80px;
  margin: 0px auto;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
}


header ul {
  display: -webkit-flex;
  display: flex;
  list-style: none;
  margin-top: 38px;
  font-size: 15px;
}

header ul li a {
  color: #202020;
  margin: 0px 10px;
  padding: 10px;
  border-radius: 5px;
  text-transform: lowercase;
}

.nav__icon,
.nav__icon span {
  display: none;
}

.nav__icon {
  width: 36px;
  height: 28px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}

.nav__icon span {
  background: rgba(255, 255, 255, 1);
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
}

.nav__icon span:nth-of-type(1) {
  top: 0;
}

.nav__icon span:nth-of-type(2) {
  top: 12px;
}

.nav__icon span:nth-of-type(3) {
  bottom: 0;
}

.nav__icon.active span:nth-of-type(1) {
  -webkit-transform: translateY(12px) rotate(-45deg);
  transform: translateY(12px) rotate(-45deg);
}

.nav__icon.active span:nth-of-type(2) {
  display: none;
}

.nav__icon.active span:nth-of-type(3) {
  -webkit-transform: translateY(-12px) rotate(45deg);
  transform: translateY(-12px) rotate(45deg);
}



@media only screen and (max-width: 769px) {
  header {
      position: relative;
      z-index: 999;
  }
  h1 {
      margin: 0 auto;
  }
  header ul {
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.98);
      position: absolute;
      top: 80px;
      left: 0px;
      width: 100%;
      z-index: 19800;
  }
  header ul li {
      padding: 10px;
      text-align: center;
  }
  header ul li a {
      display: block;
      background: transparent;
      margin: 0px;
      padding: 20px;
  }
  header ul li a:hover {
      color: #000;
      background: #fff;
  }
  .nav__icon,
  .nav__icon span {
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
      z-index: 999;
  }




}



.logo {
  margin: 0;
  font-size: 2.45em;
}

@media (min-width: 769px) {
  .logo {
    margin: 0;
    font-size: 3.45em;
  }
}
.main-nav {
  margin-top: 2px;
}

.main-nav li:first-of-type {
  margin-top: 8px;
  margin-right: 6px;
}

.logo a,
.main-nav a {
  padding: 10px 5px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}



.main-nav a {
  color: #2e98c7;
  font-size: 1.25em;
}

.main-nav a:hover {
  color: #718daa;
}

header {
  position: relative;
  padding-left: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #1a1a1a;
  position: fixed;
  width: 100vw;
  z-index: 1000;
  margin-bottom: 2em;
   /*
   border: 1px solid #a2a2a2;
   -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
   */
}

/* ================================= 
  Media Queries
==================================== */
@media (min-width: 769px) {
  .header,
  .main-nav {
    display: -webkit-box;
    display: flex;
  }

  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
  }

  .header .header {
    width: 80%;
    margin: 0 auto;
    max-width: 1150px;
  }
}
@media (min-width: 1025px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
}


/*Animation Prefs*/
@-webkit-keyframes pulse {
  0% {
    background-color: #000;
  }
  10% {
    background-color: #24202b;
  }
  20% {
    background-color: #000;
  }
  30% {
    background-color: #24202b;
  }
  40% {
    background-color: #000;
  }
  50% {
    background-color: #24202b;
  }
  60% {
    background-color: #000;
  }
  70% {
    background-color: #24202b;
  }
  80% {
    background-color: #000;
  }
  90% {
    background-color: #24202b;
  }
  100% {
    background-color: #000;
  }
}