:root {
  --background: rgba(0, 0, 0, 1);
  --text: #fff;
  --highlight: $primary-blue;
  --base: #f7392b;
  --bg-blend: multiply;
  --blur: 0px;
  --fg-blend: lighten;
  --foreground: #16006f;
  --opacity: 1;
  --spacing: 0px;
}

figure {
  margin: auto;
}

.img-wrapper {
  background: #ff5722;
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
  flex: 1 1 100%;
  overflow: hidden;
  padding: var(--spacing);
  position: relative;
  max-height: 50em;
}

.img-wrapper img {
  -webkit-filter: grayscale(100%) contrast(1) blur(var(--blur));
  filter: grayscale(100%) contrast(1) blur(var(--blur));
  -webkit-box-flex: 1;
  flex: 1 0 100%;
  height: 100%;
  max-width: 100%;
  mix-blend-mode: var(--bg-blend);
  -o-object-fit: cover;
  object-fit: cover;
  opacity: var(--opacity);
  position: relative;
  width: 100%;
}

.img-wrapper::before {
  background-color: var(--foreground);
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  mix-blend-mode: var(--fg-blend);
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* MIXINS */
main {
  padding-top: 30em;
}

@media (min-width: 769px) {
  main {
    padding-top: 15em;
  }
}
/*Animation Prefs*/
@-webkit-keyframes pulse {
  0% {
    background-color: #000;
  }
  10% {
    background-color: #24202b;
  }
  20% {
    background-color: #000;
  }
  30% {
    background-color: #24202b;
  }
  40% {
    background-color: #000;
  }
  50% {
    background-color: #24202b;
  }
  60% {
    background-color: #000;
  }
  70% {
    background-color: #24202b;
  }
  80% {
    background-color: #000;
  }
  90% {
    background-color: #24202b;
  }
  100% {
    background-color: #000;
  }
}
* {
  box-sizing: border-box;
}

.bg-album {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/902426/stillwaves-album-cover-3.jpg);
  background-size: cover;
  background-position: top center;
}

/*

body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
   //background: $black;
}

*/
body {
  background: var(--background);
  -webkit-animation: pulse 80s infinite alternate;
  -moz-animation: pulse_m 80s infinite alternate;
  height: 100vh;
  -webkit-transition: 0.5s background ease;
  transition: 0.5s background ease;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  margin: 0;
}

.theme-switch {
  --background: #fff;
  --text: #000;
  color: var(--text);
  width: 70px;
  height: 30px;
  background: #2f494c;
  border-radius: 50px;
  position: relative;
  margin: 0 auto;
}

.theme-switch .switch {
  background: white;
  width: 24px;
  height: 24px;
  background: var(--background);
  border-radius: 100%;
  position: absolute;
  top: 3px;
  left: 4px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.light-theme {
  --background: #fff;
  z-index: -10;
  --text: #000;
  background: var(--background);
  -webkit-animation: none;
  -moz-animation: none;
}

.light-theme .theme-switch {
  background: #2e98c7;
}

.light-theme .theme-switch .switch {
  -webkit-transform: translateX(37px);
  transform: translateX(37px);
}

.light-theme a,
.light-theme ul,
.light-theme li {
  color: var(--text);
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li,
ol li {
  color: #f9f9f9;
}

h1,
h2,
h3 {
  text-rendering: optimizeLegibility;
}

h2,
h3,
a {
  color: #2e98c7;
}

a {
  text-decoration: none;
}

.logo {
  margin: 0;
  font-size: 3.45em;
}

@media (max-width: 769px) {
  .logo {
    margin: 0;
    font-size: 2.25em;
  }
}
.main-nav {
  margin-top: 2px;
}

.main-nav li:first-of-type {
  margin-top: 8px;
  margin-right: 6px;
}

.logo a,
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main-nav a {
  color: #2e98c7;
  font-size: 1.25em;
}

.main-nav a:hover {
  color: #718daa;
}

.header {
  padding-left: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #1a1a1a;
  position: fixed;
  width: 100vw;
  z-index: 1000;
  margin-bottom: 2em;
   /*
   border: 1px solid #a2a2a2;
   -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
   */
}

/* ================================= 
  Media Queries
==================================== */
@media (min-width: 769px) {
  .header,
  .main-nav {
    display: -webkit-box;
    display: flex;
  }

  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
  }

  .header .header {
    width: 80%;
    margin: 0 auto;
    max-width: 1150px;
  }
}
@media (min-width: 1025px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
}
/* main page styling */
.section {
  padding: 4em 0;
}

@media (min-width: 768px) {
  .section {
    padding: 14em 0;
  }
}
.text-center {
  text-align: center;
  margin: 0 auto;
}

h1 {
  position: relative;
  z-index: 1;
  margin-right: 0px;
  margin-left: 0px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 99px;
  line-height: 87px;
  font-weight: 800;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 69px;
    line-height: 63px;
    text-align: left;
  }
}
.white {
  color: #fff;
}

.aqua {
  color: #00bcd4;
}

/* INtro Text

body {
  align-items:center;
  background-color:#ccc;
  background-image:radial-gradient(#fff, #ccc);
  display:flex;
  font-family:sans-serif;
  height:100vh;
  justify-content:center;
  margin:0;
}

 */
.album-title {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0em;
  line-height: 1.2em;
  text-transform: none;
  /* font-family: Dosis; */
  /* font-weight: 400; */
  /* font-style: normal; */
  font-size: 44px;
  letter-spacing: 3px;
  line-height: 1.1em;
  text-transform: uppercase;
}

.album-listing {
  font-size: 1.5em;
  line-height: 34px;
}

.image > div {
  height: 30rem;
}

@media screen and (min-width: 768px) {
  .image > div {
    height: 45rem;
  }
}
.container-boxes {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  /* width: 64vmin; */
  align-content: center;
  /* max-width: 1063px; */
  -webkit-box-pack: center;
  justify-content: flex-end;
}

.container-boxes .box {
  z-index: 999;
  -webkit-box-align: center;
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  font-size: 4vmin;
  height: 30vmin;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 1vmin;
  padding: 3vmin;
  width: 30vmin;
}

.container-boxes .box:nth-child(1) {
  background-color: #f69;
}

.container-boxes .box:nth-child(2) {
  background-color: #ee0;
}

.container-boxes .box:nth-child(3) {
  background-color: #6c3;
}

.container-boxes .box:nth-child(4) {
  background-color: #6cf;
}

.container-boxes .box:nth-child(5) {
  background-color: #be0df9;
}

/* fill styles */
.fill-layer {
  -webkit-animation: fill 1s ease-in-out;
  animation: fill 1s ease-in-out;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

@-webkit-keyframes fill {
  0% {
    border-radius: 50%;
    -webkit-transform: translateY(150%) translateX(150%) scale(2);
    transform: translateY(150%) translateX(150%) scale(2);
  }
  100% {
    border-radius: 50%;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}
@keyframes fill {
  0% {
    border-radius: 50%;
    -webkit-transform: translateY(150%) translateX(150%) scale(2);
    transform: translateY(150%) translateX(150%) scale(2);
  }
  100% {
    border-radius: 50%;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}
.band-bio p {
  font-size: 1.2em;
  line-height: 1.5;
  margin: 1em 0;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .band-bio p {
    font-size: 1.6em;
    line-height: 1.7;
    margin: 2em 0;
    text-align: center;
  }
}
/* Video styling */
#video {
  margin: 0 auto;
  width: 853px;
}

iframe {
  margin: 0 auto 50px;
}

#video .big {
  display: block;
}

#video .small {
  display: none;
}

@media only screen and (max-width: 600px) {
  #video {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  #video .big {
    display: none;
  }

  #video .small {
    display: block;
  }

  #video {
    width: 560px;
  }
}
footer {
  padding: 2em 0;
  background-color: #1a1a1a;
  color: #fff;
  font-weight: #d9d9d9;
  margin-top: 4em;
}
