<div class="home-featured-instructors-section">

        <h2 class="mt-4">2020 Bagnato Cup, Co-Feature & Championship &ndash; TBD</h2>

    <!--


      
        <h3>2019 BOXING MATCHES</h3>
        <div class="featured-instructors-width-wrapper">
          <div class="featured-instructor featured-instructor-teal">
            <h4>Bagnato Cup</h4>
            <h5>Pavel Lyutenko (Debut, Toronto)
              vs.
              Tamas Munkacsi (Debut, Toronto)</h5>
          </div>
          <div class="featured-instructor featured-instructor-purple">
            <h4>8 Round Co-Feature (150 lbs)</h4>
            <h5>Stephane Malenou (12-6-1, Montreal, QC)
              vs.
              Ricardo Salas (11-1-0, Mexico City, MX)</h5>
          </div>
          <div class="featured-instructor featured-instructor-pink">
            <h4>10 Rounds, Canadian Super Lightweight Championship (140lbs)</h4>
            <h5>Steven Wilcox (20-3-2, Hamilton, ON
              vs.
              Roody Pierre Paul (16-4-2, Terrebonne, QC)</h5>
          </div>
        </div>


    -->


 </div>