<!--

<div class="d-flex flex-column flex-md-row align-items-center p-2 px-md-3 mb-2 bg-white shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a class="navbar-brand" href="index.html">
            <img src="img\SHAW_BOXING_LOGO_2019-200px-new.jpg" alt="Logo">
        </a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="index.html">Home</a>
        <!--<a class="p-2 text-dark" disabled href="#">Galleries</a> -->
        <a class="p-2 text-dark" href="raffle.html">Raffle</a>
        <a class="p-2 text-dark" href="auction.html">Auction</a>
    </nav>
    <a class="btn btn-large btn-primary" href="mailto:info@shawboxing.com?subject=Shaw Boxing Registration">Register</a>
</div>


-->




<div class="container">
    <div class="row">
        <div class="col-12">
 
 
 
         <nav class="navbar navbar-expand-lg navbar-dark">
 
             <a class="navbar-brand" href="index.html">
                    <h1 class="logo-title">Christopher John Malanchen</h1> 
                     <span class="logo-subtitle">Editor, Film &amp; Television </span>
                 </a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                 aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarCollapse">
                 <ul class="navbar-nav ml-auto">
         
                     <li class="nav-item">
                         <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="portfolio.html">ShowReel</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="bio.html">About</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="contact.html">Connect</a>
                     </li>
                     <!--
                     <li class="nav-item">
                     <ul class="social-icons-nav">
                         <li>
                           <a href="https://www.linkedin.com/in/christopher-john-malanchen-21629353/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                         </li>
                         <li>
                           <a href="https://vimeo.com/cjm" target="_blank" rel="noopener noreferrer"><i class="fab fa-vimeo-v" aria-hidden="true"></i></a>
                         </li>
                         <li>
                           <a href="https://www.imdb.com/name/nm3040932/?ref_=fn_al_nm_7" target="_blank" rel="noopener noreferrer"><i class="fab fa-imdb" aria-hidden="true"></i></a>
                         </li>
                       </ul>
                     </li>
                     -->
 
                 </ul>
             </div>
         </nav>

 
        </div>
    </div>
 
 </div>
 