<section class="section partners">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2>2019 Table Supporters</h2>
            </div>
    
            <div class="col-md-4 col-sm-12">
              <p>
                Antares Capital LP<br>
                Apollo<br>
                Blake, Cassels &amp; Graydon<br>
                BMO Capital Markets<br>
                BMO<br>
                Canaccord Genuity Corp.<br>
                Cassels Brock<br>
                CIBC<br>
                Clairvest Group Inc.<br>
                Deloitte Management Services LP<br>
                Desjardins Capital Markets<br>
                DBRS<br>
                DLA Piper (Canada) LLP<br>
                Ernst & Young LLP
              </p>
            </div>
            <div class="col-md-4 col-sm-12">
              <p>
                  Faskens<br>
                  Fifth Third Bank<br>
                  Fogler, Rubinoff LLP<br>
                  GardaWorld<br>
                  Goodmans LLP<br>
                  Hodgson Russ LLP<br>
                  HSBC Bank Canada<br>
                  InstarAGF Asset Management<br>
                  KPMG LLP<br>
                  Laurentian Bank<br>
                  McCarthy Tetrault LLP<br>
                  McMillan LLP<br>
                  Mortgage Company of Canada<br>
                  National Bank Financial<br>
                  Norton Rose Fulbright Canada LLP<br>
                  Penfund
              </p>
            </div>
            <div class="col-md-3 col-sm-12">
    
              <p>
                PricewaterhouseCoopers Canada<br>
                RBC Royal Bank <br>           
                Scotiabank<br>
                Slate Asset Management LP<br>
                Stephenson’s Rental Services Inc.<br>
                Stikeman Elliott LLP<br>
                TD National Accounts<br>
                TD Securities<br>       
                Torkin Manes LLP<br>
                Torys LLP<br>
                Vlaad and Company<br>
                Walker Industries<br>
                Yellow Point Equity Partners 
              </p>
            </div>
    
            <div class="col-md-4 mx-auto">
              <h2>2020 Shaw Boxing Committee </h2>
              <p>
                <strong>Chairman - Marc St-Onge</strong><br>
              Robert Fonn<br>
              Robbie Isenberg<br>
              Richard Kinlough<br>
              Nick Lalani<br>
              Joe Mattina<br>
              Robert Olsen<br>
              Mark Opashinov<br>
              Jeff Parr<br>
              Michael Rudanycz<br>
              Burke Smyth<br>
              Aaron Toporowski<br>
              Brady Welch
            </p>
    
            </div>
          </div>
        </div>
      </section>