<section class="section sponsors">
      <div class="container">
            <div class="row">


                  <div class="col-md-12">
                        <h4>Ring Sponsor</h4>
                        <div class="item"><span class="helper"><img src="img/Deloitte-logo.png"
                                          alt="Deloitte, presenting ring sponsor for the 2019 Shaw Boxing Event"></span>
                        </div>
                  </div>

                  <div class="col-md-12">
                        <h4>Dinner Sponsor</h4>
                        <div class="item"><span class="helper"><img src="img/DBRS-Logo-Shaw-Boxing-Event.jpg"
                                          alt="DBRA Logo for the annual 2019 Shaw Boxing Event"></span></div>

                  </div>



                  <div class="col-md-12">
                        <h4>In-Kind Sponsors</h4>
                        <div class="item py-2"><span class="helper"><img src="img/TPH-logo.png" width="175"
                                          alt="TPH, Official sponsor logo for Shaw Boxing Event"></span></div>

                        <div class="item py-2"><span class="helper"><img src="img/jackson-triggs-log.png"
                                          alt="Jackson Triggs logo for Shaw Boxing Event"></span>
                        </div>
                        <div class="item py-2"><span class="helper"><img src="img/steam-whistle-logo.png"
                                          alt="Steam Whistle, Official sponsor logo for Shaw Boxing Event"></span>
                        </div>
                        <div class="item py-2"><span class="helper"><img width="125" src="img/eska.jpg"
                                          alt="ESKA, Official sponsor logo for Shaw Boxing Event"></span>
                        </div>


                  </div>



            </div>
</section>