<section id="tables" class="section table">
        <div class="container">
          <h2>Tables</h2>
          <div class="row">
              <div class="col-md-10 mx-auto">
                  <img class="img-fluid"
                  src="img/2018_Table_Plan_Benefits.png"
                  alt="Shaw Boxing 2018 Table Booking Layout Image">
                <p class="table-text">The Shaw Boxing Evening offers a night of camaraderie, first-class hospitality and
                  professional boxing matches. Guests enjoy exceptional cuisine and high-quality sporting action close to their
                  table, along with networking with the who’s who from the ranks of Canada’s top 100 companies.</p>
                <p class="table-text lead">For questions regarding table purchases, please contact <a
                    href="mailto:info@shawboxing.com?subject=Shaw Boxing Registration">info@shawboxing.com</a> or ESP Inc. <a href="mailto:jenna@espinc.ca?subject=Shaw Boxing Registration">jenna@espinc.ca</a></p>
          
              </div>
    
            </div> 
    
        </div>
</section>