<header id="header" role="heading">
	<nav>

            <h1 class="logo"><a class="" href="index.html">Christopher John Malanchen</a>
                <span class="logo-subtitle">Editor, Film &amp; Television </span></h1> 

			<ul>
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="portfolio.html">ShowReel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="bio.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Connect</a>
                </li>
			</ul>
			<div class="nav__icon">
					<span></span>
					<span></span>
					<span></span>
			</div>
	</nav>
	<!--/Nav-->
</header>
<!--/Header-->