<!DOCTYPE html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

  <!-- CSS -->
  <link rel="stylesheet" href="css/owl.carousel.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/ionicons.min.css">
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="css/responsive.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>



  <!-- Js -->
  <script src="js/vendor/modernizr-2.6.2.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/min/waypoints.min.js"></script>
  <script src="js/jquery.counterup.js"></script>
  <!-- ICON NEEDS FONT AWESOME FOR CHEVRON UP ICON -->

  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="js/google-map-init.js"></script>


  <script src="js/main.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics goes here pal-->
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-164943714-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-164943714-1');
</script>

<meta name="google-site-verification" content="ItzTsc14AeClf4lP104lEeyfNXsgfNEsqulugUbuBHQ" />


</head>

<body>

  {{ content }}


  <!-- footer Start -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-menu">


            <ul class="social-icons">
              <li>
                <a href="https://www.imdb.com/name/nm3040932/?ref_=fn_al_nm_7" target="_blank" rel="noopener noreferrer"><i class="fab fa-imdb fa-5x" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="https://vimeo.com/cjm" target="_blank" rel="noopener noreferrer"><i class="fab fa-vimeo-v fa-5x" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/christopher-john-malanchen-21629353/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin fa-5x" aria-hidden="true"></i></a>
              </li>
            </ul>

<!--


            <ul>
              <li><a class="p-2 text-dark" href="/">Home</a></li>
              <li><a class="p-2 text-dark" href="bio.html">Bio</a></li>
              <li><a class="p-2 text-dark" href="portfolio.html">Work</a></li>
              <li><a class="p-2 text-dark" href="contact.html">Contact</a></li>

            </ul>
-->

          </div>
          <p>Copyright &copy; 2021</p>
          <p><small>Site made by <a href="https://danielcarlyle.carbonmade.com" target="_blank" rel="noopener noreferrer">Daniel Carlyle</a></small></p>
        </div>
      </div>


    </div>
  </footer>


  <!-- Return to Top -->
  <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>



  <!--

  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

  -->


  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>


</body>

</html>